body {
    letter-spacing: 0;
}

#about-page-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* border: 2px solid red; */
}

#about-bio {
    margin: 6px;
    /* border: 2px solid red; */
    letter-spacing: -2px;
    margin-left: 8%;
    font-weight: 700;
    margin-top: 8%;
    padding: 0 4rem;
}

#about-greeting {
    font-size: 10vh;
}

#about-intro {
    margin-top: 4%;
    font-size: 4vh;
}

#about-photo-wrapper {
    float: right;
    margin-right: 5vw;
    justify-self: center;
    margin: 2vw;
    /* border: 2px solid red; */
}

#about-photo {
    border-radius: 50%;
}

#social-links {
    border: 2px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}