* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 800px;
}

div a:hover {
  color: rgb(107, 237, 204);
}

/* .active {
} */

#landing-page-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.content-container {
  margin: 4% 0 0 8%;
  letter-spacing: -2px;
  font-weight: 700;
  padding: 0 4rem;
  color: white;
}

#landing-content-container {
  margin: 8% 0 0 8%;
}

#landing-greeting {
  font-size: 10vh;
}

#landing-intro {
  margin-top: 4%;
  font-size: 4vh;
}

#landing-photo-wrapper {
  float: right;
  justify-self: center;
  margin: 2vw;
}

#landing-photo {
  border-radius: 50%;
  border: 6px solid white;
}

.social-link {
  color: white;
}

.social-link:hover {
  cursor: pointer;
}

#social-links-container {
  display: flex;
  margin: auto;
}

#social-links-container > div {
  padding: 20px;
  margin: 40px;
}

.social-icon {
  display: flex;
  transform: scale(2.5);
}

@keyframes instaGradient {
  0% {
    color: white;
  }
  10% {
    color: #bb307e;
  }
  20% {
    color: #803db2;
  }
  40% {
    color: #f9cb00;
  }
  60% {
    color: #f85100;
  }
  80% {
    color: #dd153c;
  }
  90% {
    color: #803db2;
  }
  100% {
    color: white;
  }
}

@keyframes linkedInGradient {
  0% {
    color: white;
  }
  50% {
    color: #0a66c2;
  }
  100% {
    color: white;
  }
}

@keyframes gitGradient {
  0% {
    color: white;
  }
  50% {
    color: #800080;
  }
  100% {
    color: white;
  }
}

#github-profile:hover {
  animation: gitGradient 2s infinite;
}

#linkedin-profile:hover {
  animation: linkedInGradient 2s infinite;
}

#instagram-profile:hover {
  animation: instaGradient 8s infinite;
}

.project-page-container {
  display: grid;
  margin: 2% 10% 0 0;
}

.project-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 2px solid transparent;
  border-radius: 10px;
  margin: 2%;
  height: 350px;
  background-color: rgb(61, 61, 61);
  transition: ease-in-out 0.4s;
}

.project-card:hover {
  border-color: rgb(107, 237, 204);
  box-shadow: 0 0 5px rgb(107, 237, 204);
}

.project-thumbnail {
  display: grid;
  grid-template-rows: 2fr 1fr;
  border: 2px solid red;
  border-radius: 10px 0 0 10px;
}

.project-photo {
  border: 2px solid salmon;
}

.project-links {
}

.project-info {
  border: 2px solid purple;
  border-radius: 0 10px 10px 0;
}

#card-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  border: 2px solid greenyellow;
  grid-template: auto auto auto;
}

#skill-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template: auto;
  background-color: rgb(27, 27, 27);
  border-radius: 20px;
  margin-bottom: 5%;
}

.skill-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 30px;
  margin: 4%;
  font-size: 3em;
  background-color: #2e3234;
}

.skill-img {
  height: 80%;
}

#resume-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin: 4% 0;
}

#contact-form-container {
  display: grid;
}

#contact-email {
  display: grid;
  font-size: large;
  margin: 20px 0;
  width: 25%;
}

#contact-message {
  display: grid;
  font-size: large;
  margin: 20px 0;
  width: 50%;
}

#message-field {
  height: 200px;
}

.form-field {
  color: #333333;
  resize: none;
  outline-style: none;
  font-size: 16px;
  line-height: 20px;
  margin: 10px 0;
  padding: 10px;
  padding-left: 10px;
  display: grid;
  border: 2px solid black;
  border-radius: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(218, 218, 218);
}

.form-field:focus {
  outline: none !important;
  border-color: rgb(107, 237, 204);
  box-shadow: 0 0 5px rgb(107, 237, 204);
  transition: ease-in-out 0.2s;
}

#submit-btn {
  padding: 10px 20px;
  background-color: rgb(107, 237, 204);
  border: 2px solid transparent;
  border-radius: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
}

#submit-btn:hover {
  cursor: pointer;
}

#submit-btn:active {
  background-color: rgb(70, 172, 146);
}
