* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 800px;
}

div a:hover {
  color: rgb(107, 237, 204);
}

/* .active {
} */

.content-container {
  margin: 4% 0 0 8%;
  font-weight: 700;
  padding: 0 4rem;
  color: white;
}
